
/* ////////////////// enter your button sizes and postions here in %! ////////////////// */

:root {
  /* button size values (all buttons) */
 --button-height: 8%;
 --button-width: 50%;


/* button position values */

 /* button-1-position */
 --b1-pos-left: 50%;
 --b1-pos-bottom: 50%;

 /* button-2-position */
 --b2-pos-left: 50%;
 --b2-pos-bottom: 40%;

 /* button-3-position */
 --b3-pos-left: 50%;
 --b3-pos-bottom: 30%;

 /* button-4-position */
 --b4-pos-left: 50%;
 --b4-pos-bottom: 20%;

 /* button-4-position */
 --b5-pos-left: 50%;
 --b5-pos-bottom: 10%;
}
