/* Set up */

.container {
   margin: 0 auto;
}

#proto-box {
   margin: auto 0;
}

.scene {
  height: 100vh;
}


.interLayer {
  border: 4px solid red;
  height: 100%;
  /* width: 507px; /*change to javascript provided value*/
  position: fixed;
  z-index: 2;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.button {
  background-color: red;
  height: 6.2%;  /* 120px*/
  width: 27.7%; /* 300px*/ /*will need to provide these values from CSS variables for designer input*/
  position: absolute;
  left: calc(50% - 27.7% / 2);
  top: calc(50% - 6.2% / 2);
}


/* interLayer border colours */
#inter-1 {
  border: 4px solid red;
}
#inter-2 {
  border: 4px solid green;
}
#inter-3 {
  border: 4px solid blue;
}
#inter-4 {
  border: 4px solid yellow;
}
#inter-5 {
  border: 4px solid pink;
}


/* js classes */
.off {
  display: none !important;
}



/* initial instructions */
.instructions {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: white;
  opacity: 0.8;
  z-index: 3;
}

p {
  text-align: center;
  font-family: sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.25rem;
}
