.container {
   margin: 0 auto;
   /* max-width: 900px; */
}

#proto-box {
   margin: auto 0;
   /* width: 1; */
}

.scene {
  height: 100vh;
}

#proto-2 {
  display: none;
}

.interactive-layer {
  border: 1px solid red;
  height: 100%;
  width: 100%;
  /* margin-right: 30rem; */
  position: fixed;
  z-index: 2;
}

.button {
  background-color: red;
  height: 280px;
  width: 280px;
  position: absolute;
  left: 1574px;
  top: 81.9%;

}

/* js classes */
.off {
  display: none !important;
}


p {
  text-align: center;
  font-family: sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.25rem;
}
