.container {
   margin: 0 auto;
   /* max-width: 900px; */
}

#proto-box {
   margin: auto 0;
   /* border: 4px solid blue; */
   /* width: 1; */
}

.scene {
  height: 100vh;
}

.instructions {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: white;
  opacity: 0.8;
  z-index: 3;
}

.interLayer {
  border: 4px solid red;
  height: 100%;
  /* width: 507px; /*change to javascript provided value*/
  position: fixed;
  z-index: 2;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.button {
  background-color: red;
  height: 6.2%;  /* 120px*/
  width: 27.7%; /* 300px*/ /*will need to provide these values from JS  */
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 30px);
}



/* js classes */
.off {
  display: none !important;
}


p {
  text-align: center;
  font-family: sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.25rem;
}
