
/* ////////////////// enter your button sizes and postions here in %! ////////////////// */

:root {

/* screen ratios */
 --screen-ratio-X: 9;
 --screen-ratio-Y: 16;


/* button size values (all buttons) */
 --button-height: 8%;
 --button-width: 50%;


/* button position values */

 /* button-1-position */
 --b1-pos-left: 50%;
 --b1-pos-bottom: 50%;

 /* button-2-position */
 --b2-pos-left: 50%;
 --b2-pos-bottom: 40%;

 /* button-3-position */
 --b3-pos-left: 50%;
 --b3-pos-bottom: 30%;

 /* button-4-position */
 --b4-pos-left: 50%;
 --b4-pos-bottom: 20%;

 /* button-5-position */
 --b5-pos-left: 50%;
 --b5-pos-bottom: 10%;

 /* button-6-position */
 --b6-pos-left: 50%;
 --b6-pos-bottom: 50%;

 /* button-7-position */
 --b7-pos-left: 50%;
 --b7-pos-bottom: 40%;

 /* button-8-position */
 --b8-pos-left: 50%;
 --b8-pos-bottom: 30%;

 /* button-9-position */
 --b9-pos-left: 50%;
 --b9-pos-bottom: 20%;

 /* button-10-position */
 --b10-pos-left: 50%;
 --b10-pos-bottom: 10%;
}
